* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: fleX;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  border: black 1px solid;
  display: fleX;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.X::before,
.X::after {
  content: "";
  height: 90px;
  width: 10px;
  background-color: black;
  position: absolute;
  cursor: not-allowed;
}

.X::before {
  transform: rotate(45deg);
}

.X::after {
  transform: rotate(-45deg);
}

.O::before {
  content: "";
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 8px solid black;
}

.title {
  position: relative;
  bottom: 150px;
  font-size: 4rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.by {
  position: relative;
  bottom: 140px;
  font-size: 1.5rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.announcer {
  position: relative;
  bottom: 80px;
  font-size: 1.5rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}



.X, .O {
  pointer-events: none;
}

button {
  position: relative;
  top: 100px;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:20px;
  padding-right:20px;
  font-size: 1.75rem;
  display: none;
}

